[Unit]
Description=WPA Supplicant
After=syslog.target

[Service]
Type=dbus
BusName=fi.epitest.hostap.WPASupplicant
ExecStart=/usr/sbin/wpa_supplicant -u


[Install]
WantedBy=network.target
Alias=fi.epitest.hostap.WPASupplicant.service
